<div class="container-fluid justify-content-center">
    <div class="row align-items-center">
  <mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="0">
    <div *ngFor="let slide of carousel; let i=index">
      <mdb-carousel-item>
        
          <div *ngFor="let faculty of carousel[i]" class="col-sm">
            <mdb-card>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>{{faculty?.name}}</h4>
                </mdb-card-title>
                <mdb-card-text>{{faculty?.email}}<br>{{faculty?.bio}}<br>{{faculty?.schedule}}</mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
         
      </mdb-carousel-item>
    </div>  
  </mdb-carousel>
</div>
</div>

  