.textBox-ShowFacultyTitle {
  border-radius: 25px;
  background: rgb(206, 206, 205);
  opacity: .97;
  padding: 20px; 
  width: 130px;
  height: 75px; 
}
.textBox-ShowFaculty1 {
  border-radius: 25px;
  background: rgb(206, 206, 205);
  opacity: .97;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  position:fixed;
  left: 13%;
  top: 25%;
}
.textBox-ShowFaculty2 {
  border-radius: 25px;
  background: rgb(206, 206, 205);
  opacity: .97;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  position:fixed;
  left: 33%;
  top: 25%;
}
.textBox-ShowFaculty3 {
  border-radius: 25px;
  background: rgb(206, 206, 205);
  opacity: .97;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  position:fixed;
  left: 53%;
  top: 25%;
}
.textBox-ShowFaculty4 {
  border-radius: 25px;
  background: rgb(206, 206, 205);
  opacity: .97;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  position:fixed;
  left: 73%;
  top: 25%;
}

.textBox-ShowFaculty {
  border-radius: 25px;
  background: rgb(206, 206, 205);
  opacity: .97;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  margin: 20px;
}