<div class="container">
<div class="textBox-Faculty">
  <h3>Faculty</h3>
  <div><p>{{details[2]?.name}}<br>{{details[2]?.email}}<br>{{details[2]?.bio}}<br>{{details[2]?.schedule}}</p></div>
  <div><p>{{details[3]?.name}}<br>{{details[3]?.email}}<br>{{details[3]?.bio}}<br>{{details[3]?.schedule}}</p></div>
  <div><p>{{details[4]?.name}}<br>{{details[4]?.email}}<br>{{details[4]?.bio}}<br>{{details[4]?.schedule}}</p></div>
  <div><p>{{details[5]?.name}}<br>{{details[5]?.email}}<br>{{details[5]?.bio}}<br>{{details[5]?.schedule}}</p></div>
  <div><p>{{details[6]?.name}}<br>{{details[6]?.email}}<br>{{details[6]?.bio}}<br>{{details[6]?.schedule}}</p></div>
</div>
</div>





