<div class="textBox-Faculty">
  <h3>Faculty</h3>
  <div>
  <label class="col-sm-3 control-label">Name</label>
    <p class="form-control-static">{{ details?.name }}</p>
    <label class="col-sm-3 control-label">Email</label>
    <p class="form-control-static">{{ details?.email }}</p>
    <label class="col-sm-3 control-label">Bio</label>
    <p class="form-control-static">{{ details?.bio }}</p>
    <label class="col-sm-3 control-label">Email</label>
    <p class="form-control-static">{{ details?.schedule }}</p>
  </div>
</div>





