<div class="textBox-E1">
  <h3>Computer science Danceoff!</h3>
  <div style="padding-left: 50px">
  <h5>Come celebrate your school with some good music, great food, and an open bar! October 28th we will be hosting a dance competition available for any cmps student to show off what he has!</h5>
  </div>
</div>

<div class="textBox-E2">
  <h3>Gdoc wins big in the battle royal!</h3>
  <div style="padding-left: 50px">
  <h5>Gdoc has done the impossible! He has single handedly brought down every other CS dept. instructor in a cage fight! Wielding his martial training with a stern sense of discipline he has become our schools first gladitorial champion.</h5>
  </div>
</div>

<div class="textBox-E3">
  <h3>Dr. Mcdowell wins the lottery!</h3>
  <div style="padding-left: 50px">
  <h5>Long time instructor, McDowell, has won the Mega Millions Lottery! When asked what he will do with his winnings, Mcdowell replied "Boat."</h5>
  </div>
</div>