<div class="container">
  <div class= textBox-Faculty>

  <div class="row">
    <div class="col-md-6">
      <h1>Add a new faculty member</h1>
      <form (submit)="facultyr()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter the faculty members name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter their email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="email">Biography</label>
          <input type="text" class="form-control" name="bio" placeholder="Enter their biography" [(ngModel)]="credentials.bio">
        </div>
        <div class="form-group">
          <label for="email">Schedule</label>
          <input type="text" class="form-control" name="schedule" placeholder="Enter their schedule" [(ngModel)]="credentials.schedule">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
      </form>
    </div>
  </div>
  </div>

</div>