.map-style{

   
    //width:auto;
   // background-color: powderblue;

  height:75%; 
  width: auto;
  position: relative;
   
   //transform: translate(-50%, -50%);
   //  background-size: cover; 
   //  width:auto;
   // background-position:50% 80%;
 }
 path:hover{
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;

 }

 