<!-- <div>
    <div id="MapDisplay"class="map-style" > 
       
        <img src="assets/images/ColoredMapOfGarrett.png" style="position:absolute" />
     
    </div>
</div> -->
 <div class="row">
     <div class= "textBox-Map">
        <h2 align="center"> Garrett Hall</h2>
        <h5> Red Star: You are here</h5>
    </div>
    <div class= "textBox-Map2">
        <h2 align="center">Key </h2>
        <h5> Yellow: Special Rooms</h5>
        <h5> Green: Class Rooms</h5>
        <h5> Blue: Teacher Offices</h5>
    </div>
    <div class="map-style">
    <div id="MapDisplay">
        <img src="assets/images/ColoredMapOfGarrettHall.png"/>       
    </div>
    </div> 
 </div> 
