.map-style{

   
    //width:auto;
   // background-color: powderblue;

  height:75%; 
  width: auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
   
   //transform: translate(-50%, -50%);
   //  background-size: cover; 
   //  width:auto;
   // background-position:50% 80%;
 }
 path:hover{
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;

 }

 