<div>
    <!-- <mdb-navbar SideClass="navbar navbar-expand-lg our-color py-4 fixed-bottom" style= "background-color: #169b0a;" [containerInside]="false" > -->
      <!-- <mdb-navbar-brand><a class="font-weight-bold" style="font-size: 30px; color: #E9C225" href="">Links go down here!</a></mdb-navbar-brand> -->
      <!-- <links> -->
        
        <!-- Links -->
        <ul class="nav our-color fixed-bottom py-4 mr-auto justify-content-center">
            <li class="nav-item" *ngIf="!auth.isLoggedIn()">
                <a routerLink="/login" class="nav-link waves-light flex-center font-weight-bold navbar-style" mdbWavesEffect href="#">Sign in</a>
            </li>
            <li class="nav-item">
                <a routerLink="/map" class="nav-link waves-light font-weight-bold navbar-style" mdbWavesEffect href="#">Map</a>
            </li>
            <li class="nav-item">
                <a routerLink="/events" class="nav-link waves-light font-weight-bold navbar-style" mdbWavesEffect href="#">Upcoming Events</a>
            </li>
            <li class="nav-item" *ngIf="auth.isLoggedIn()">
                <a routerLink="/profile" class="nav-link waves-light font-weight-bold navbar-style" mdbWavesEffect href="#">{{ auth.getUserDetails()?.name }}</a>
            </li>
            <li class="nav-item" *ngIf="auth.isLoggedIn()">
                <a routerLink="/faculty" class="nav-link waves-light font-weight-bold navbar-style" mdbWavesEffect href="#">Add Faculty</a>
            </li>
            <li class="nav-item" *ngIf="auth.isLoggedIn()">
                <a (click)="auth.logout()" class="nav-link waves-light font-weight-bold navbar-style" mdbWavesEffect href="#">Logout</a>
            </li>
        </ul>
        <!-- Links -->
    <!-- </links> -->
    <!-- </mdb-navbar> -->
  </div>